@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-grey: 248 10% 15%;
  --grey: 251 9% 53%;
  --almost-white: 252 11% 91%;
  --very-dark-grey: 248 15% 11%;
  --neon-green: 127 100% 82%;
  --brand-red: 0 91% 63%;
  --brand-orange: 13 95% 66%;
  --brand-yellow: 42 91% 68%;
}
