@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-grey: 248 10% 15%;
  --grey: 251 9% 53%;
  --almost-white: 252 11% 91%;
  --very-dark-grey: 248 15% 11%;
  --neon-green: 127 100% 82%;
  --brand-red: 0 91% 63%;
  --brand-orange: 13 95% 66%;
  --brand-yellow: 42 91% 68%;
}

@layer base {
  * {
    @apply p-0 m-0 box-border;
  }
  body {
    @apply bg-very-dark-grey container mx-auto border font-jetbrains;
  }
}

@layer utilities {
  h2 {
    @apply text-[32px] max-md:text-[24px] font-bold leading-[43px] text-almost-white;
  }

  h3 {
    @apply text-[24px] max-md:text-[16px] font-bold leading-[31px] text-almost-white;
  }

  p {
    @apply text-[18px] max-md:text-[16px] leading-[23px] text-almost-white font-bold;
  }
}
